@import 'variables';

.item-list {
  display: grid;
  width: 55%;
  margin-left: 22.5%;
  height: auto;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

// @media (max-width: $phone-width-max) {
//     .main-container {
//       grid-gap: 0.15rem;
//     }
//   }
