@import 'variables';

.item {
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 28rem;
  border-radius: 0.3rem;
  // width: 28rem;
  // height: 38rem;

  img {
    width: 50%;
    height: auto;
    // height: auto;
    // max-height: 20rem;
    // width:auto;
    // max-width: 20rem;
    //margin: 5% 10%;
    border-radius: 0.4rem;
  }

  p {
    color: black;
    font-weight: bold;
    font-size: 120%;
  }
}
