@import 'variables';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background: $nav-color;
  color: white;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.link {
  font-size: 150%;
  padding: 2%;
  color: white;
  text-decoration: none;
  border-bottom: solid 1px transparent;
  &:hover {
    //background-color: $hover-color;
    color: $select-color;
  }
}

.logo {
  margin-left: 5%;
  font-size: 150%;
  color: white;
  text-decoration: none;
}

.selected {
  color: $select-color;
  border-bottom: solid 1px $select-color;
}
